<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dim.whatdoyouknow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- children of main: Hiri -->
        <activity
            android:name=".actJap"
            android:label="Japanese">
            <meta-data
                android:name="android.support.MainActivity"
                android:value="dim.whatdoyouknow.MainActivity" />
        </activity>

        <activity
            android:name=".actPeople"
            android:label="People">
            <meta-data
                android:name="android.support.MainActivity"
                android:value="dim.whatdoyouknow.MainActivity" />
        </activity>

        <activity
            android:name=".actCreature"
            android:label="Creatures">
            <meta-data
                android:name="android.support.MainActivity"
                android:value="dim.whatdoyouknow.MainActivity" />
        </activity>
        <!-- children of actJap -->
        <activity
            android:name=".actJap2"
            android:label="A - あ"
            android:parentActivityName=".actJap">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="dim.whatdoyouknow.actJap" />
        </activity>

        <activity
            android:name=".actJap3"
            android:label="I - い"
            android:parentActivityName=".actJap2">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="dim.whatdoyouknow.actJap2" />
        </activity>

        <activity
            android:name=".actJap4"
            android:label="U - う"
            android:parentActivityName=".actJap3">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="dim.whatdoyouknow.actJap3" />
        </activity>

        <activity
            android:name=".actJap5"
            android:label="E - え"
            android:parentActivityName=".actJap4">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="dim.whatdoyouknow.actJap4" />
        </activity>

        <activity
            android:name=".actJap6"
            android:label="O - お"
            android:parentActivityName=".actJap5">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="dim.whatdoyouknow.actJap5" />
        </activity>

        <activity
            android:name=".actCreature2"
            android:label="Neko - ねこ"
            android:parentActivityName=".actCreature">
        <meta-data
            android:name="android:support.PARENT_ACTIVITY"
            android:value="dim.whatdoyouknow.actCreature" />
        </activity>

        <activity android:name=".actCreature3"
            android:label="Usagi - うさぎ"
            android:parentActivityName=".actCreature2">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
            android:value="dim.whatdoyouknow.actCreature2"/>
        </activity>

        <activity android:name=".actCreature4"
            android:label="Inu - いぬ"
            android:parentActivityName=".actCreature3">
        <meta-data
            android:name="android:support.PARENT_ACTIVITY"
            android:value="dim.whatdoyouknow.actCreature3"/>
        </activity>

        <activity android:name=".actCreature5"
            android:label="Kitsune - きつね"
            android:parentActivityName=".actCreature4">
        <meta-data
            android:name="android:support.PARENT_ACTIVITY"
            android:value="dim.whatdoyouknow.actCreature4"/>
        </activity>

        <activity android:name=".actTest"
            android:label="Question Time!"/>
        <activity android:name=".actTest2"
            android:label="Question 1"/>
        <activity android:name=".actTest3"
            android:label="Question 2"/>
        <activity android:name=".actTest4"
            android:label="Question 3"/>
        <activity android:name=".actTest5"
            android:label="Question 4"/>
        <activity android:name=".actTest6"/>
        <activity android:name=".actPeople2"
            android:label="Honorifics"/>
        <activity android:name=".actPeople3"
            android:label="San - さん"/>
        <activity android:name=".actPeople4"
            android:label="Chan - ちゃん"/>
        <activity android:name=".actPeople5"
            android:label="Senpai - せんぱい"/>
        <activity android:name=".actPeople6"
            android:label="Sensei - せんせい"/>
        <activity android:name=".templateActivity" />
    </application>

</manifest>