<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dim.whatdoyouknow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- main activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- children of main: Hiri -->
        <activity
            android:name=".actJap"
            android:label="Japanese">
            <meta-data
                android:name="android.support.MainActivity"
                android:value="dim.whatdoyouknow.MainActivity" />
        </activity>
        <activity
            android:name=".actPeople"
            android:label="People">
            <meta-data
                android:name="android.support.MainActivity"
                android:value="dim.whatdoyouknow.MainActivity" />
        </activity>
        <activity
            android:name=".actCreature"
            android:label="Creatures">
            <meta-data
                android:name="android.support.MainActivity"
                android:value="dim.whatdoyouknow.MainActivity" />
        </activity>
        <!-- children of actJap -->
        <activity
            android:name=".actJap2"
            android:label="A - あ">
            <meta-data
                android:name="android:support.actJap"
                android:value="dim.whatdoyouknow.actJap" />
        </activity>
        <activity
            android:name=".actJap3"
            android:label="I - い">
            <meta-data
                android:name="android:support.actJap2"
                android:value="dim.whatdoyouknow.actJap2" />
        </activity>
        <activity
            android:name=".actJap4"
            android:label="U - う">
            <meta-data
                android:name="android:support.actJap3"
                android:value="dim.whatdoyouknow.actJap3" />
        </activity>
        <activity
            android:name=".actJap5"
            android:label="E - え">
            <meta-data
                android:name="android:support.actJap4"
                android:value="dim.whatdoyouknow.actJap4" />
        </activity>
        <activity
            android:name=".actJap6"
            android:label="O - お">
            <meta-data
                android:name="android:support.actJap5"
                android:value="dim.whatdoyouknow.actJap5" />
        </activity>
        <activity android:name=".actCreature2" />
        <activity android:name=".templateActivity" />
        <activity android:name=".actTest" />
        <activity android:name=".actCreature3" />
        <activity android:name=".actCreature4" />
        <activity android:name=".actTest2" />
        <activity android:name=".actTest3" />
        <activity android:name=".actCreature5" />
        <activity android:name=".actPeople2" />
        <activity android:name=".actPeople3" />
        <activity android:name=".actPeople4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actPeople5" />
        <activity android:name=".actPeople6" />
        <activity android:name=".actTest4" />
        <activity android:name=".actTest5" />
        <activity android:name=".actTest6"></activity>
    </application>

</manifest>